/* Fonts import */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Нормализация блочной модели */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы слева тегам списков, у которых есть атрибут class */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/* Убираем внешние отступы body и двум другим тегам, у которых есть атрибут class */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/* Убираем внешние отступы вертикали нужным тегам, у которых есть атрибут class */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/* Убираем стандартный маркер маркированному списку, у которого есть атрибут class */
:where(ul[class]) {
    list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;
    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

/* Упрощаем работу с изображениями */
img {
    display: block;
    max-width: 100%;
}

/* Наследуем свойства шрифт для полей ввода */
input, textarea, select, button {
    font: inherit;
}

html {
    /* Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта) */
    height: 100%;
}

/* Плавный скролл */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /* Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта) */
    min-height: 100%;
    /* Унифицированный интерлиньяж */
    line-height: 1.5;
}

/* Приводим к единому цвету svg-элементы */
svg *[fill] {
    fill: currentColor
}

svg *[stroke] {
    stroke: currentColor
}

/* Чиним баг задержки смены цвета при взаимодействии с svg-элементами */
svg * {
    transition-property: fill, stroke;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    /* Цвета */
    --color-black: #000000;
    --color-light: #FFFFFF;
    --color-light-black: #2B0F7AD1;
    --color-gray: #6C757D;
    --color-green: #409991;
    --color-blue: #3E15B1;
    --color-blue-transp: rgb(0 10 200 / 40%);
    --color-light-blue: #B4E3E1;
    --color-lighter-blue: #93CDC8;
    --gradient-2-blue: linear-gradient(90deg, rgba(62, 21, 177, 0.9) -30%, #109888 155%);
    --gradient-2-blue-reverse: linear-gradient(90deg, #109888 -30%, rgba(62, 21, 177, 0.9) 155%);
    --gradient-blue-reverse: linear-gradient(90deg, rgba(32, 107, 150, 0.95) -30%, rgba(62, 21, 177, 0.9) 90%, #109888 155%);
    --gradient-light-blue: linear-gradient(90deg, rgba(62, 21, 177, 0.9) -280%, rgba(32, 107, 150, 0.95) 90%, #109888 155%);
    --gradient-light-blue-violet: linear-gradient(110deg, rgb(174 235 232) 10%, rgb(195 182 231) 90%);
    --gradient-violet: linear-gradient(90deg, rgba(62, 21, 177, 0.85) 5%, rgba(16, 63, 152, 0.75) 45%, rgba(16, 152, 136, 0.65) 80%);
    --gradient-violet-blue: linear-gradient(90deg, rgba(106, 73, 255, 0.25) 0%, rgba(88, 255, 241, 0.25) 100%);
    --gradient-light-violet: linear-gradient(110deg, rgba(62, 21, 177, 0.35) 10%, rgba(16, 63, 152, 0.45) 35%, rgba(16, 152, 136, 0.55) 90%);
    --gradient-light-violet-reverse: linear-gradient(110deg, rgba(16, 152, 136, 0.55) 10%, rgba(16, 63, 152, 0.45) 35%, rgba(62, 21, 177, 0.35) 90%);
    --gradient-light-violet-no-transp: linear-gradient(110deg, rgb(195 182 231) 10%, rgb(195 215 255) 50%, rgb(219 219 219) 90%);
    --gradient-light-violet-no-transp-reverse: linear-gradient(110deg, rgb(219 219 219) 10%, rgb(195 215 255) 50%, rgb(195 182 231) 90%);

    /* Тени */
    --box-shadow-black: 0 4px 5px rgba(0, 0, 0, 0.3);
    --box-shadow-light: 0 4px 5px var(--color-light);
    --box-shadow-blue: 0 5px 5px 0 #1569B19E;
    --text-shadow-black: 0 4px 5px rgba(0, 0, 0, 0.25);
    --text-shadow-light: 0 4px 5px rgb(255, 255, 255);

    /* Радиус границ */
    --border-radius-small: 15px;
    --border-radius-medium: 35px;
    --border-radius-large: 85px;

    --border-small: 2px solid var(--color-blue);
    --border-medium: 3px solid #CAC6D3;
    --border-large: 5px solid #7458B9;

    /* Ширина */
    --container-width-wrapper: 1260px;
    --container-width-wrapper-content: 1150px;
    --container-padding-x: 55px;

    /* Длительность анимации */
    --transition-duration: 0.2s;

    /* Шрифты */
    --font-family-base: "Roboto Condensed", sans-serif;
}

/* Washer Repair styles */
html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    background: var(--gradient-violet-blue);
    color: var(--color-light);
}

a, button, input, textarea, svg * {
    transition-duration: var(--transition-duration);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.wrapper {
    max-width: var(--container-width-wrapper);
    margin-inline: auto;
    background-color: var(--color-light);
}

.wrapper-content {
    max-width: calc(var(--container-width-wrapper-content) + var(--container-padding-x) * 2);
    margin-inline: auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 55px;
    column-gap: 20px;
    background-color: var(--color-blue);
    box-shadow: var(--box-shadow-blue);
    z-index: 2;
}

.header__logo-link {
    flex: 0 0 50px;

    & img.header__logo-pic {
        max-width: 100%;
        display: block;
    }
}

.header__menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 30px;
}

.wrapper__header {
    display: flex;
    align-items: center;
    column-gap: 30px;

    & button.header__menu-link, button.header__menu-link-last {
        border: none;
    }
}

.header__menu-link, .header__menu-link-last {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-light);
    padding-inline: 10px;
    border-radius: var(--border-radius-medium);
    white-space: nowrap;
}

.header__menu-link {
    width: 120px;
    background: var(--gradient-light-blue);
}

.header__menu-link-last {
    right: 120px;
    height: 50px;
    font-size: 20px;
    color: var(--color-blue);
    background: var(--color-light-blue);
}

.header__menu-link:hover, .header__menu-link:focus, .header__menu-link-last:hover, .header__menu-link-last:focus {
    background: var(--gradient-blue-reverse);
    box-shadow: var(--box-shadow-light);
    transform: scale(1.05);
    color: var(--color-light);
}

.header__menu-link-last:hover, .header__menu-link-last:focus {
    background: var(--color-green);
}

.open {
    right: 0 !important;
}

.burger {
    position: relative;
    display: none;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
    margin: 10px 0;

    & span {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: var(--color-light);
    }

    &::before, &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--color-light);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &.active span {
        transform: scale(0);
    }

    &.active::before {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
    }

    &.active::after {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
    }
}

/* Title */
.title {
    margin-bottom: 50px;
    padding: 30px 55px 10px;
    min-height: 410px;
    background: var(--gradient-violet);
    border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    color: var(--color-light);
    font-weight: 500;
}

.title__text-head {
    font-size: clamp(2.25rem, 1.995rem + 0.96vw, 2.625rem);
}

.title__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__text-list {
    max-width: 100%;
    list-style: url('../images/svg/arrow_1.svg');
}

.title__text-item {
    line-height: 1.75;
    font-size: clamp(1rem, 0.83rem + 0.64vw, 1.25rem);
}

.title__text-item span {
    text-decoration: underline;
    font-weight: 700;
}

.title__text-item-last {
    font-size: clamp(1.063rem, 0.85rem + 0.8vw, 1.375rem);
    font-weight: 700;
}

.title-pic {
    position: absolute;
    bottom: -110px;
    right: 0;
    max-width: 40%;
    height: auto;
}

/* Arrow */
.arrow, .arrow__rotate {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

.arrow__underline {
    padding-inline: var(--container-padding-x);
    width: 100%;
    height: 100%;
}

.arrow__rotate {
    transform: rotate(180deg);
}

/* Services */
.services {
    display: flex;
    align-items: center;
    max-width: calc(var(--container-width-wrapper-content) + var(--container-padding-x) * 2);
    margin: 0 auto;
}

.vertical-line {
    width: 10px;
    height: 500px;
    background: linear-gradient(0deg, rgba(62, 21, 177, 0.9) -30%, #109888 155%);;
    border-radius: var(--border-radius-large);
    margin: 0 var(--container-padding-x);
}

.services__block {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    height: 600px;
    margin: 0 auto;
    border-radius: var(--border-radius-large);
    background: var(--gradient-light-violet-reverse);
}

.services__block-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 95%;
    padding-top: 15px;
    border: var(--border-small);
    border-radius: var(--border-radius-large);
    background: var(--color-light-blue);
}

.services__title {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.services__service {
    text-align: center;
    width: 300px;
    border-radius: var(--border-radius-large);
    background: var(--gradient-2-blue);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.services__service-right {
    background: var(--gradient-2-blue-reverse);
}

.services__service-text {
    line-height: 50px;
    font-weight: 500;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    text-shadow: var(--text-shadow-black);
}

.services__service-block {
    position: relative;
    right: -8px;
    top: 5px;
    width: 90%;
    overflow-x: auto;
    margin-bottom: 20px;
}

.services__table {
    width: 100%;
    table-layout: fixed;
}

table td + td {
    border-left: var(--border-small);
}

.services__table-row td.table_row-name, td.table_row-price {
    color: var(--color-black);
    font-weight: 500;
    font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
    padding: 5px 5px;
    border-bottom: var(--border-small);
}

.services__table-row td.table_row-price {
    text-align: center;
}

.services__table-row:nth-child(even) {
    background: var(--color-lighter-blue);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: solid 1px #F5DEB3FF;
    border-radius: var(--border-radius-large);
    background: var(--color-lighter-blue);
}

::-webkit-scrollbar-thumb {
    border: solid 1px #F5DEB3FF;
    border-radius: var(--border-radius-large);
    background: var(--color-blue);
}

/* About */
.about__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--container-width-wrapper-content);
    max-height: 100%;
    margin: 0 55px;
    padding: 15px 30px 15px 10px;
    color: var(--color-blue);
    background: var(--gradient-light-violet);
    border-radius: var(--border-radius-large);
}

.about__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
}

.about__content-title {
    width: 100%;
    padding: 5px 0;
    background: var(--color-light-blue);
    border: var(--border-small);
    border-radius: var(--border-radius-large);
}

.content-title-text {
    line-height: 40px;
    font-size: clamp(1.875rem, 1.602rem + 1.36vw, 2.625rem);
    font-weight: 500;
    text-align: center;
    text-shadow: var(--text-shadow-black);
}

.horizontal-line {
    width: 90%;
    height: 5px;
    background: var(--gradient-2-blue);
    border-radius: var(--border-radius-large);
    margin: 15px var(--container-padding-x);
}

.about__block-content {
    height: 80%;
    background: var(--color-light-blue);
    border: var(--border-small);
    border-radius: var(--border-radius-large);
}

.about__content-list {
    padding: 20px 50px 30px 60px;
    list-style: initial;
    margin: 0;
}

.content-list-item {
    font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 10px;
    text-shadow: var(--text-shadow-light);

    &:last-child {
        margin-bottom: 0;
    }
}

/* Contact */
.contact__tel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 93%;
    margin: 0 44px 35px 44px;
}

.contact__tel a {
    text-decoration: none;
}

.contact__tel-pic {
    margin-right: 20px;
    width: 60px;
}

.contact__tel-block {
    height: 50px;
    width: 300px;
    border-radius: 85px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #3E15B1;
    background: linear-gradient(260.57deg, rgba(16, 152, 136, 0.85) 2%, rgba(16, 63, 152, 0.85) 50%, rgba(62, 21, 177, 0.85) 92%);
}

.contact__tel-block-text {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

.contact__tel-line {
    width: 63%;
    margin-left: 50px;
}

.contacts-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    margin: 0 auto 50px auto;
}

.contacts__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 31.5%;
    height: 250px;
    border-radius: 85px;
    border: solid 5px #7458b9;
    background: linear-gradient(110.94deg, rgba(62, 21, 177, 0.45) 10%, rgba(16, 63, 152, 0.55) 50%, rgba(16, 152, 136, 0.65) 90%);
    padding: 10px 0 10px 35px;
}

.contacts__mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

.contacts__mail img, .contacts__telegram img, .contacts__whatsapp img {
    margin-right: 20px;
    width: 50px;
}

.contacts__avito, .contacts__telegram, .contacts__whatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

.contacts__avito img {
    margin-right: 20px;
    width: 120px;
}

.contacts__map {
    width: 64%;
    height: 250px;
    border: solid 5px #7458b9;
}

iframe {
    width: 100%;
    height: 100%;
}

/* Comments */
.comments__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 834px;
    margin: 0 auto;

}

.comments__block {
    height: 90%;
    width: 1050px;
    border-radius: 15px;
    border: solid 5px #7458b9;
    overflow-y: auto;
    background: linear-gradient(110.94deg, rgba(62, 21, 177, 0.45) 10%, rgba(16, 63, 152, 0.55) 50%, rgba(16, 152, 136, 0.65) 90%);
}

.comment {
    display: flex;
    width: 95%;
    margin: 20px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.comment__name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    width: 18%;
    height: 70px;
    background: linear-gradient(92.07deg, rgba(62, 21, 177, 0.88) -27.94%, #109888 156.46%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 3px #f6f2ff9c;
    border-radius: 85px;
}

.rating-result {
    margin: 0 auto;
}

.rating-result span {
    font-size: 25px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
    content: '★';
}

.rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.review__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
}

.review__block img {
    height: 420px;
}

.comment__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80%;
    min-height: 70px;
    background: rgb(1 7 211 / 45%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 3px #f6f2ff9c;
    border-radius: 15px;
    padding: 10px 8px 5px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

.comment__content-date {
    font-size: 16px;
    text-align: right;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

.add_review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    background: linear-gradient(110.94deg, rgba(191, 176, 232, 0.45) 10%, rgba(96, 136, 208, 0.55) 50%, rgba(171, 252, 242, 0.65) 90%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 3px #f6f2ff9c;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.69);
}

.add_review button, .request__status_modal .btn {
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    border: solid 3px #f6f2ff9c;
}

.rating__pic {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.rating__pic img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.review__contact-tel {
    margin: 0 44px;
}

.review__contact-map {
    margin: 0 auto 26px auto;
}

/* Privacy */
.privacy-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3b3e93;
    text-shadow: var(--text-shadow-black);
}

.privacy {
    margin-bottom: 30px;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Modal */
.modal-content {
    border: solid 3px #7458b9;
    border-radius: 15px;
}

.modal-dialog {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    color: black;
    max-width: 100%;
}

.create_request_modal {
    background: linear-gradient(110.94deg, rgb(195 182 231) 10%, rgb(195 215 255) 50%, rgb(219 219 219) 90%);
}

.modal-footer-privacy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #838383c9;
    text-shadow: 0 4px 4px rgb(172 199 231 / 98%);
    padding-bottom: 12px;
}

.modal-footer-privacy a {
    color: #838383c9;

    &:hover {
        color: #7458b9;
    }
}

.request__status_modal {
    background: linear-gradient(110.94deg, rgb(219 219 219) 10%, rgb(195 215 255) 50%, rgb(195 182 231) 90%);
}

.request__status {
    background: linear-gradient(110.94deg, rgb(174 235 232) 10%, rgb(195 182 231) 90%);
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.form-control::placeholder {
    color: rgba(141, 141, 141, 0.6);
}

.form-label-star {
    color: red;
}

.btn {
    border-radius: 15px;
}

.btn-primary {
    background-color: #409991;
    border-color: #7458b9;
}

.toast-container {
    margin-top: 50px;
}

.toast {
    width: 100%;
    border-radius: 20px;
}

.toast-body {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

/* Footer */
.footer {
    height: 100%;
    background-color: #3E15B1;
    box-shadow: 0 5px 5px 0 #1569b19e;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.footer-text {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

.footer-text p {
    margin-bottom: 0;
}

.footer-privacy {
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    color: #fff;
    text-shadow: var(--text-shadow-black);
}

@media (max-width: 1150px) {
    /* Header */
    body.lock {
        overflow: hidden;
    }

    .header {
        padding-inline: 30px;
    }

    .burger {
        display: flex;
    }

    .header__menu {
        position: fixed;
        max-height: 70%;
        top: 0;
        right: -100%;
        padding: 30px 40px;
        margin-top: 70px;
        background-color: var(--color-blue);
        border-bottom-left-radius: var(--border-radius-large);
        box-shadow: var(--box-shadow-blue);
        overflow: auto;
        transition: 0.5s;
    }

    .header__menu-list {
        flex-direction: column;
        row-gap: 30px;
    }

    .header__menu-link-last {
        position: absolute;
        right: 80px;
    }

    /* Title */
    .title {
        padding: 30px 30px 10px;
    }

    /* Arrow */
    .arrow__underline {
        padding-inline: 30px;
    }

    /* Services */
    .services__block {
        width: 100%;
        margin-inline: 30px;
    }

    .vertical-line {
        display: none;
    }

    .services__service {
        width: 230px;
    }

    .services__service-text {
        line-height: 40px;
    }

    /* About */
    .about__block {
        justify-content: center;
        margin-inline: 30px;
        padding-inline: 0;
    }

    .about__block-pic {
        display: none;
    }

    .about__content-wrapper {
        width: 90%;
    }

    .about__horizontal-line {
        width: 90%;
        margin: 10px 0;
    }
}

@media (max-width: 820px) {
    /* Title */
    .title {
        min-height: 100%;
        padding: 10px 20px 10px;
        margin-bottom: 0;
    }

    .title__text-head {
        text-align: center;
    }

    .title__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0.75;
    }

    .title__wrapper {
        justify-content: center;
        line-height: 0.5;
    }

    .title-pic {
        display: none;
    }

    /* Services */
    .services__block {
        height: 500px;
    }

    .services__block, .services__block-inside {
        border-radius: var(--border-radius-medium);
    }

    .services__title {
        width: 85%;
    }

    .services__service-block {
        right: 0;
        width: 95%;
    }

    .services__table-row td.table_row-name, td.table_row-price {
        padding: 1px 5px;
        line-height: 1.3;
    }

    /* About */
    .about__block {
        border-radius: var(--border-radius-medium);
    }

    .about__block-content {
        border-radius: var(--border-radius-medium);
    }

    .about__content-list {
        padding: 15px 15px 5px 30px;
    }
}

@media (max-width: 768px) {
    /* Header */
    .header {
        min-width: 280px;
        padding-inline: 20px;
        height: 50px;
    }

    .header__logo-link {
        flex: 0 0 40px;
    }

    .header__menu {
        padding: 20px 20px;
        margin-top: 50px;
    }

    .header__menu-list {
        row-gap: 20px;
    }

    .header__menu-link-last {
        font-size: 16px;
        height: 40px;
        right: 70px;
    }

    /* Arrow */
    .arrow {
        max-height: 50px;
    }

    .arrow__underline {
        padding-inline: 20px;

    }

    /* Services */
    .services__block {
        margin-inline: 20px;
    }

    .services__title {
        width: 90%;
    }

    .services__service {
        width: 200px;
    }

    .services__service-text {
        line-height: 30px;
    }

    /* About */
    .about__block {
        margin-inline: 20px;
    }

    .about__content-wrapper {
        width: 95%;
    }

    .content-title-text {
        line-height: 30px;
    }
}

@media (max-width: 520px) {
    /* Services */
    .services__service {
        width: 125px;
    }

    .services__service-text {
        padding: 2px 5px;
        line-height: 20px;
    }

    /* About */
    .content-title-text {
        line-height: 25px;
    }

    .about__horizontal-line {
        margin: 10px 0;
    }

    .about__content-wrapper {
        height: 100%;
    }
}

@media (max-width: 425px) {
    /* Header */
    .header__menu-link-last {
        position: relative;
        right: 0;
    }

    /* Title */
    .title__text-item {
        line-height: 1.5;
    }

    /* Services */
    .services__title {
        width: 95%;
    }

    .services__service {
        width: 130px;
    }

    .services__service-text {
        line-height: 15px;
    }
}

@media (max-width: 375px) {
    /* Header */
    .header {
        padding-inline: 10px;
    }

    /* Title */
    .title {
        padding: 10px 5px 0;
    }

    /* Arrow */
    .arrow__underline {
        padding-inline: 10px;
    }

    /* Services */
    .services__block {
        margin-inline: 10px;
    }

    .services__title {
        width: 100%;
    }

    .services__service {
        width: 115px;
    }

    /* About */
    .about__block {
        margin-inline: 10px;
    }

    .about__horizontal-line {
        margin: 8px 0;
    }
}
